body, html {
	margin: 0px;
	font-family: "Lato";
	background: #FAFAFA;
}

body {
	position: static;
	height: 100vh;
	width: 100vw;
}

#body-left {
	position: fixed;
	width: 30%;
	height: 100vh;
	border-right: 2px solid #cccccc;
	background-color: #fafafa;
	/* background credits to heropatterns.com */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23babed4' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#left-content {
	position: relative;
	padding: 15px 40px 25px 50px;
}

#body-left h1 {
	font-family: Crimson Text;
	margin-bottom: 10px;
	font-size: 28px;
}

#body-left p {
	font-size: 12px;
	margin-bottom: 20px;
}

.feature-set {
	position: relative;
}

.feature-set h2 {
	font-size: 16px;
}

.features-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.feature-box {
	display: flex;
	flex-direction: column;
	margin: 0px 10px 10px 0px;
}

.ft {
	padding: 3px 5px 3px 5px;
	background-color: #D3DFEF;
	text-align: center;
	font-size: 15px;
}

.pos {
	margin-bottom: 5px;
}

.ft:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition-duration: 300ms;
}

#body-right {
	position: absolute;
	left: 30%;
	width: 70%;
	height: 100vh;
	/*background: black;*/
}

#codesrc {
	position: fixed;
	left: 94%;
	top: 90%;
	right: 1%;
	bottom: 5%;
	padding: 10px;
	z-index: 999;
	/*background: yellow;*/
}

#codesrc img {
	width: 70%;
	height: auto;
	padding: 5px;
	opacity: .6;
	/*background: white;*/
}

#codesrc img:hover {
	opacity: 1;
	transition-duration: 400ms;
}

/* tooltip implementation 
@source https://codepen.io/cbracco/pen/qzukg */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip relative to the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 130%;
  left: 140%;
  margin-bottom: 45%;
  margin-left: -80px;
  padding: 5px;
  width: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transition-duration: 400ms;
}

#right-content {
	position: absolute;
	width: 75%;
	padding: 30px 0px 30px 0px;
	left: 50%;
	transform: translateX(-50%);
}

#header {
	display: flex;
	flex-direction: row;
}

.header-tab {
	margin-right: 30px;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	background: #E4E4E4;
}

.header-tab:hover {
	cursor: pointer;
	background: #AA5F5F;
	color: white;
	transition-duration: 300ms;
}

#about-page {
	display: none;
}

#gloss-page {
	display: none;
}

#engipas-page {
	/*display: none;*/
}

#frnipas-page {
	display: none;
}

#log-page {
	display: none;
}

a {
	color: #AA5F5F;
}

/* About page styling */
.about-block {
	margin-top: 40px; 
	margin-bottom: 50px;
}

.about-block p {
	text-align: justify;
	letter-spacing: 0.3px;
	line-height: 20px;
}

.about-block p b {
	font-weight: 900;
	text-decoration: underline;
}

.about-block ul {
	list-style-type: circle;
}

.about-block li {
	letter-spacing: 0.3px;
	line-height: 20px;
}

/* Gloss page styling */
#gloss-content {
	margin-top: 40px;
}

#gloss-content h2 {
	margin-bottom: 10px;
}

.gloss-block {
	margin-top: 40px;
	margin-bottom: 30px;
}

.gloss-block h3 {
	display: inline;
	font-size: 18px;
	padding: 0;
	margin-bottom: 5px;
}

.gloss-block i {
	font-size: 14px;
}

.gloss-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gloss-block li {
	letter-spacing: 0.3px;
	line-height: 20px;
}

.gloss-block em {
	padding-left: 3px;
	padding-right: 2px;
	font-style: normal;
	font-family: monospace;
	color: #AA5F5F;
	border: 1px solid #AA5F5F;
}

/* IPA pages styling */
#engipas-page h2 {
	display: inline;
}

#frnipas-page h2 {
	display: inline;
}

.consonants, #fyi {
	margin: 30px 0px 30px 0px;
}

.ipa-table {
	width: 650px;
}

th, td {
	border: 1px solid #FAFAFA;
}

td.none {
	background: #B9B9B9;
}

.eng-th {
	background: #EBD9D9;
	padding: 5px;
	font-size: 15px;
}

.eng-active {
	background: #E2E0E0;
	text-align: center;
}

.sd:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition-duration: 300ms;
}

.consonants p {
	width: 650px;
	font-size: 14px;
	text-align: center;
}

.vowels {
	position: absolute;
	width: 800px;
	height: 520px;
}

.vowel-chart {
	position: absolute;
	left: 8%;
	top: 15%;
}

.vowel-chart img {
	width: 460px;
	margin-top: 25px;
	margin-left: 50px; 
}

.vowel-row {
	position: absolute;
	top: 0;
	left: 15%;
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.vowel-col {
	position: absolute;
	top: 40px;
	left: 0;
	height: 290px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mouth-loc {
	font-size: 16px;
	font-weight: 900;
}

.vpair {
	display: flex;
	flex-direction: row;
}

.vsingle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.v {
	padding: 5px;
	background: #E2E0E0;
	text-align: center;
	margin: 4px;
	min-width: 8px;
	min-height: 22px;
	font-size: 18px;
}

.vcell {
	position: absolute;
}

.close-front {
	top: 30px;
	left: 70px;
}

.close-back {
	top: 30px;
	left: 437px;
}

.near-closemid-front {
	top: 70px;
	left: 160px;
}

.near-openmid-back {
	top: 70px;
	left: 380px;
}

.closemid-front {
	top: 120px;
	left: 130px;
}

.closemid-central {
	top: 120px;
	left: 285px;
}

.closemid-back-nas {
	top: 85px;
	left: 462px;
}

.closemid-back {
	top: 120px;
	left: 437px;
}

.near-closemid-central {
	top: 160px;
	left: 320px;
}

.openmid-front-nas {
	top: 173px;
	left: 180px;
}

.openmid-front {
	top: 210px;
	left: 190px;
}

.openmid-back {
	top: 210px;
	left: 437px;
}

.near-open-front {
	top: 260px;
	left: 220px;
}

.open-front {
	top: 300px;
	left: 247px;
}

.open-back-nas {
	top: 264px;
	left: 437px;
}

.open-back {
	top: 300px;
	left: 437px;
}

.vowels p {
	font-size: 14px;
	text-align: center;
}

/* More page styling */
#log-content {
	margin-top: 40px;
}

#log-content p {
	line-height: 26px;
}
